<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!--命名空间，指定对应的Dao-->
    <mapper namespace="com.example.app.demo.dao.UserDao">

    <!--使用resultType指定输出类型-->
    <select id="findByName" resultType="com.example.app.demo.pojo.User">
        SELECT 
         id,
         username,
         password,
         version,
         create_time as createTime,
         update_time as updateTime 
        FROM user 
        WHERE username = #{name}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO USER
        (
            id,
            username,
            password,
            version,
            create_time,
            update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.username},
                #{item.password},
                #{item.version},
                #{item.createTime},
                #{item.updateTime}
            )
        </foreach>
    </insert>
</mapper>
